<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>133617459544-ka3028t6ipjbi4eojlgmecmcnnqaee7d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.133617459544-ka3028t6ipjbi4eojlgmecmcnnqaee7d</string>
	<key>API_KEY</key>
	<string>AIzaSyAPggmv6ZR1IIN-oUuHbb3MNw0WYFJiZIU</string>
	<key>GCM_SENDER_ID</key>
	<string>133617459544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartcare.smartCare</string>
	<key>PROJECT_ID</key>
	<string>smartcare-93645</string>
	<key>STORAGE_BUCKET</key>
	<string>smartcare-93645.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:133617459544:ios:181bcc225b3f5dc57cc52d</string>
	<key>DATABASE_URL</key>
	<string>https://smartcare-93645-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>